backports.functools-lru-cache==1.5
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
dill==0.2.7.1
enum34==1.1.6
functools32==3.2.3.post2
idna==2.6
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==2.2.0
multiprocess==0.70.5
nbformat==4.4.0
numpy==1.14.1
pandas==0.22.0
parso==0.1.1
pkg-resources==0.0.0
plotly==2.4.1
pymzml==0.7.8
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
subprocess32==3.2.7
traitlets==4.3.2
urllib3==1.22
